<div id="apiDocContent">
	<h1 class="mrgn_top">New doc</h1>
	<%= form_for(@doc) do |f| %>
	<% if @doc.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

		<ul>
			<% @doc.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :title_short %><span class="hint">(For left sidebar)</span><br />
		<%= f.text_field :title_short %>
	</div>
	<div class="field">
		<%= f.label :category_id %><br />
		<%= f.select :category_id, Category.all.collect {|c| [ c.name.capitalize, c.id ] }.sort%>
	</div>

	<div class="field">
		<%= f.label :api_version_id %><span class="hint">Choose all possible versions</span><br />
		<% for api_version in ApiVersion.all %>
		<div>
		  <%= check_box_tag "api_version_ids[]", api_version.id, @doc.api_versions.include?(api_version) %>
		  <%= api_version.name %>
		</div>
		<% end %>
	</div>
	<div class="field">
		<%= f.label :title_long %><span class="hint"> Keep it like : How to get list of all the grades for a student</span><br />
		<%= f.cktext_area :title_long %>
	</div>
	<div class="field">
		<%= f.label :description %><span class="hint">(Add some description. some use case of this api calls. Dont thing that its bit abvious. Put some description for other people.)</span><br />
		<%= f.cktext_area :description %>
	</div>
	<div class="field">
		<%= f.label :http_method %><span class="hint">(GET/POST/PUT/DELETE/PATCH)</span><br />
		<%= f.text_field :http_method %>
	</div>
	<div class="field">
		<%= f.label :requires_authentication %><span class="hint">(Yes / No) means this api call need user authentication or not?</span><br />
		<%= f.text_field :requires_authentication %>
	</div>
	<div class="field">
		<%= f.label :query_format %><span class="hint">(Standard Query format page, Example: https://www.example.com/api/v1/users/:user_id/grades?api_token=:api_token&access_token=:access_token)</span><br />
		<%= f.cktext_area :query_format %>
	</div>

	<div class="field">
		<%= f.label :sample_query %><span class="hint">(please add a sample query, try it should work with dummy database on local machine. Example: https://www.example.com/api/v1/users/123/grades?api_token=my_api_token&access_token=my_token)  )</span><br />
		<%= f.cktext_area :sample_query %>
	</div>
	<div class="field">
		<%= f.label :parameters %><span class="hint">(What are the various parameters, Please use table to format in the editor)</span><br />
		<%= f.cktext_area :parameters %>
	</div>

	<div class="field">
		<%= f.label :response_format %><span class="hint">(JSON/XML)</span><br />
		<%= f.text_field :response_format %>
	</div>
	<div class="field">
		<%= f.label :success_codes %><span class="hint">(What are the various Success Codes, and messages, Please use table to format in the editor)</span><br />
		<%= f.cktext_area :success_codes %>
	</div>
	<div class="field">
		<%= f.label :error_codes %><span class="hint">(What are the various Error Codes, and messages, Please use table to format in the editor)</span><br />
		<%= f.cktext_area :error_codes %>
	</div>
	<div class="field">
		<%= f.label :response_output_format %><span class="hint">(Paste a sample output here. Please install <a href="https://chrome.google.com/webstore/detail/chklaanhfefbnpoihckbnefhakgolnmc" target="_blank" style="color:red"> this </a>plugin chrome to format the output. )</span><br />
		<%= f.cktext_area :response_output_format %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>

</div>
</div>

</div>
<div style="clear: both"></div>
</div>
</div>
