<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title> Api</title>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag('application') %>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900' rel='stylesheet' type='text/css'>
</head>

<body class="dev" onload="prettyPrint()">
	<div id="get_satisfaction"></div>
	<div id="header">
		<div class="wrap">
			<a href="<%= root_path %>" id="logo">API Docs</a>
		</div>
	</div>
	<div id="container">
		<div id="body">
			<div style="align:center" id="content">
				<div id="apiDoc">

					<div id="apiDocSidebar">
						<ul>
							<li><h2>Options</h2></li>
							<ul>
								<li><%= link_to 'Index Page', docs_path %></li>
								<li><%= link_to 'New Doc', new_doc_path %></li>
								<li><%= link_to "New Category", new_category_path%></li>
								<li><%= link_to "New Version", new_api_version_path%></li>
							</ul>
							<li><h2>API Versions</h2></li>
							<ul>
							<% ApiVersion.all.each do |api_version| %>
							<li><%= link_to api_version.name, api_version %></li>
							<% end %>
						</ul>
							<li><h2>Categories</h2></li>
							<li>
								<% Category.all.each do |category| %>
								<h2><li><%= category.name %></li></h2>
								<ul>
									<% category.docs.each do |doc|%>
									<li><%= link_to doc.title_short, doc %> (<% doc.api_versions.collect(&:name)%>)</li>
									<% end %>
								</ul>
								<% end %>
							</li>
						</ul>
					</div>

					<%= yield %>
				</div></div></div></div>
				<div style="clear:both" id="footer">
					<div class="links translate">
						<div class="outsideContainer">
							<ul>
							</ul>
							<div id="copyLang">

							</div>
						</div>
					</div>
				</div>

			</body>
			</html>
